/*
Colours:
    Background White: #ffffff;
    Nav-Bar White: #e5e5e5;
    Mid-Blue: #1089ff;
    Dark-blue: #23374d;
    Burgundy: #5A1421;
    Dark Burgundy: #290a0f;
    Black/Grey: #131515;
*/

/* Style Reset */ 

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* General Styles */

#page-container {
    min-height: 100vh;
    background-color: #ffffff;
}

h1 { 
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2em;
    color: #23374d;
}

h2 {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8em;
    color: #23374d;
}

h3 {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    color: #23374d;
}

h4 {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    color: #23374d;
}

p {
    font-family: interstate, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    color: #131515;
}

a {
    text-decoration: none;
}

/* Navigation */

#nav-bar {
    height: 8vh;
    max-height: 300px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F2F4F3;
    z-index: 999999;
    ul {
        list-style: none;
        display: flex;
        margin-right: 2vh;
        flex-shrink: 1;
        margin: 0 auto;
        width: 90%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        li {
            a {
                text-decoration: none;
                text-align: center;
                padding: 0 1vw;
                font-family: interstate, sans-serif;
                font-weight: 500;
                font-size: 1em;
                color: #5A1421;
                transition: 0.2s ease-in-out;
                height: 90%;
                &:hover {
                    color: #290a0f;
                }
            }    
        }
    }
}

/* landing Page */
.logo-header {
    width: 100%;
    background-color: #eeeeee;
    padding: 1vh 0;
    .page-logo {
        display: block;
        margin: 0 auto;
        width: 10vh;
        max-width: 180px;
    }
}
.fit-or-big {
    min-height: 80vh;
    padding-bottom: 2vh;
    background-color: #ffffff;
    .header-main {
        width: 80vw;
        margin: 0 auto;
        h1 {
            color: #5A1421;
            margin: 2vh auto;
            text-align: center;
            position: relative;
        }
    } 
    h2 {
        color: #23374d;
        font-weight: 700;
    }
    .images-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        img {
            width: 100%;
            display: block;
            object-fit: cover;
        }
        .img-container {
            position: relative;
            display: block;
            .fit-container, .big-container {
                position: absolute;
                text-align: center;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                text-align: center;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);
                background-color: rgba(32, 32, 32, 0.5);
                opacity: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
                .big-text, .fit-text {
                    max-width: 70%;
                    font-family: interstate, sans-serif;
                    font-weight: 800;
                    font-style: normal;
                    font-size: 2em;
                    color: #ffffff;
                }
                .fit-text {
                    color: #ffffff;
                }
            }
        }
    }
    .personalised {
        display: block;
        position: relative;
        margin-top: 1.6vh;
        bottom: 1%;
        h2 {
            text-align: center;
            margin: 0.8vh auto;
            color: #23374d;
            font-size: 1.2em;
            font-weight: 500;
            max-width: 80%
            ;
        }
        .home-down-arrow {
            height: 2vh;
            margin: 0 auto;
            display: block;
            transition: 0.2s ease-in-out;
            &:hover {
                transform: translate(0, 0.5vh);
            }
        }
    }
}
.introduction {
    background-color: #ffffff;
    width: 100%;
    padding: 2vh 0;
    .summary-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 90%;
        margin: 2vh auto 5vh auto;
        img {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            object-fit: cover;
            object-position: 47%;
            border-radius: 50%;
            margin-top: 2vh;
        }
        h3 {
            text-align: center;
            color: #23374d;
            font-weight: 600;
            padding: 1vh 0 1vh 0;
            max-width: 90%;
            margin: 0 auto;
        }
        p {
            text-align: center;
            font-size: 1em;
            font-weight: 300;
            max-width: 90%;
            margin: 0 auto;
        }
    }
    .item-container {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 95%;
        margin: 0 auto;
        height: 100%;
        margin-bottom: 2vh;
        .item1, .item2, .item3 {
            width: 100%;
            background-color: #ffffff;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            box-shadow: 10px 10px 26px 0 rgba(0,0,0,0.3);
            margin-bottom: 4vh;
            .home-img-wrap {
                display: flex;
                justify-content: center;
                width: 90%;
                height: 40%;
                margin: 0 auto;
                padding: 5%;
                img {
                    width: 70%;
                    height: auto;
                }
            }
            .item-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2% auto 5% auto;
                max-width: 90%;
                h4 {
                    text-align: center;
                    margin-bottom: 1vh;
                }
                p {
                    text-align: center;
                    font-size: 1em;
                    a {
                        font-size: 1.1em;
                        font-weight: 400;
                        color: #5A1421;
                        &:hover {
                            color: #23374d;
                        }
                    }
                }
            }
        }
    }
}

/* What We Do Page */

.what-we-do {
    min-height: 90vh;
}

/* About Me Page */

.about-me {
    max-width: 90vw;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    background-color: #ffffff;
    .about-me-info {
        h1 {
            display: block;
            padding-top: 3vh;
            text-align: center;
            color: #290a0f;
            margin-bottom: 2vh;
        }
        .desc-img {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 3vh;
            p {
                text-align: center;
                font-size: 1em;
                font-weight: 300;
                width: 90vw;
                margin-bottom: 2vh;
            }
            a {
                color: #ffffff;
                transition: 0.2s ease-in-out;
                background: linear-gradient(120deg, #460a14, #751224);
                padding: 0.25em 0.5em;
                border-radius: 30px;
                &:hover {
                    color: #C7CCD8;
                }
            }
            img {
                border-radius: 50%;
                position: relative;
                max-width: 70vw;
                object-fit: cover;
                margin: 0 2vw 3vh 2vw;
            }
        }    
    }
    .interests {
        margin: 3vh 0;
        h2 {
            text-align: center;
        }
        .interests-main {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            .interest {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                border-radius: 10px;
                box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.53);
                margin: 2vh 0 0 0;
                padding: 1vh 1vw;
                width: 100%;
                background-color: #ffffff;
                img {
                    width: 15%;
                    margin: 0 5vw;
                }
                p {
                    font-weight: 500;
                    font-size: 1.5em;
                    width: 50%;
                }
            }
        }
    }    
}

/* Contact Page */

.contact {
    min-height: 87vh;
    margin: 0 auto;
    background-color: #ffffff;
    h2 {
        text-align: center;
        margin: 2vh auto;
    }
    .cta-contact {
        margin: 2vh auto;
        font-size: 2em;
        font-weight: 800;
        color: #23374d;
        text-align: center;
    }
    .flex-container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        position: relative;
        .info {
            display: flex;
            justify-content: space-evenly;
            align-content: space-around;
            width: 90%;
            background-color: #F2F4F3;
            padding: 1vw;
            margin: 1vw 1vw;
            box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.53);
            img {
                max-width: 3.5em;
                margin-right: 1vw;
            }
            .info1 {
                display: block;
                width: 50%;
            }
        }
    }
    h3 {
        padding-top: 10vh;
        margin-left: 2vw;
    }
}


/* Footer */

footer {
    background-color: #290a0f;
    height: auto;
    padding: 2vh 0 2vh 0;
    margin-bottom: 8vh;
    p {
    text-align: center;
    color: #ffffff;
    padding: 0.5vh;
    font-size: 1em;
    }
    a {
        color: #ffffff;
        transition: 0.2s ease-in-out;
        text-decoration: underline;
        &:hover {
            color: #C7CCD8;
        }
    }
}

/* Mobile-Landscape 480px */

@media only screen and (min-width: 480px) and (orientation: landscape) {
    .about-me {
        .about-me-info {
            .desc-img {
                flex-wrap: wrap;
                p {
                    text-align: center;
                }
                img {
                    width: 25%;
                }
            }
        }
    }
}

/* Tablet-Portrait 768px */

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .about-me {
        .about-me-info {
            .desc-img {
                img {
                    width: 30%;
                }
            }
        }
        .interests {
            .interests-main {
                .interest {
                    max-width: 45%;
                }
            }
        }
    }
}

/* Tablet-Landscape 992px */ 

@media only screen and (min-width: 992px) and (orientation: landscape) {
    .about-me {
        .about-me-info {
            .desc-img {
                flex-wrap: nowrap;
                p {
                    text-align: left;
                }
                img {
                    width: 20%;
                }
            }
        }
        .interests {
            .interests-main {
                .interest {
                    max-width: 45%;
                }
            }
        }
    }
}

/* Desktop 1200px+ */ 

@media only screen and (min-width: 1200px) {
    /* Landing Page fit/big section */
    .fit-or-big {
        width: 100%;
        min-height: 80vh;
        .images-container {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            img {
                width: 49.6vw;
                height: auto;
            }
        }
        .personalised {
            h2 {
                margin-top: 3vh;
                font-size: 1.5em;
            }
            .home-down-arrow {
                margin-top: 1.5vh;
                height: 3vh;
            }
        }
    }
    .fit-container, .big-container {
        .fit-container, .big-container {
            transition: .2s ease-in-out;
            position: absolute;
            text-align: center;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            background-color: rgba(32, 32, 32, 0.7);
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                opacity: 1;
            }
        }
    }
    .introduction {
        background-color: #ffffff;
        width: 100%;
        padding: 5vh 0 2vh 0;
        .summary-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: unset;
            margin: 2vh auto 5vh auto;
            img {
                width: 300px;
                height: 300px;
                margin: 0 0;
                object-fit: cover;
                object-position: 47%;
                border-radius: 50%;
                margin: 2vh 3vw 0 0;
            }
            .intro-text {
                display: block;
                max-width: 50vw;
                h3 {
                    text-align: left;
                    color: #23374d;
                    font-weight: 600;
                    font-size: 3em;
                    padding: 1vh 0 2vh 0;
                    margin: 0 0;
                    max-width: inherit;
                }
                p {
                    text-align: left;
                    font-size: 1.5em;
                    font-weight: 300;
                    margin: 0 0;
                    max-width: inherit;
                }
            }
        }
    }
    /* Landing page introduction and info cards  */
    .introduction {
        .item-container {
            .item1, .item2, .item3 {
                max-width: 30%;
            }
        }
    }
    /* About Me */
    .about-me {
        .about-me-info {
            h1 {
                    font-size: 3em;
                }
            .desc-img {
                flex-wrap: nowrap;
                
                p {
                    text-align: left;
                    font-size: 1.3em;
                }
                img {
                    width: 15%;
                }
            }
        }
        .interests {
            .interests-main {
                .interest {
                    max-width: 45%;
                }
            }
        }
    }
}