/*
Colours:
    Background White: #eeeeee;
    Nav-Bar White: #e5e5e5;
    Mid-Blue: #1089ff;
    Dark-blue: #23374d;
*/

/* Style Reset */ 

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* General Styles */

#page-container {
    min-height: 100vh;
}

h1 { 
    font-family: interstate, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5em;
    color: #23374d;
}

h2 {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    color: #23374d;
}

h3 {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5em;
    color: #23374d;
}

h4 {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    color: #23374d;
}

p {
    font-family: interstate, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    color: #3d3f43;
}

a {
    text-decoration: none;
}

/* Navigation */

#nav-bar {
    height: 8vh;
    max-height: 300px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #23374d;
    z-index: 999999;
    .nav-logo {
        max-height: 7vh;
        margin-left: 1vw;
    }
    ul {
        list-style: none;
        display: flex;
        margin-right: 2vh;
        flex-shrink: 1;
        a {
            text-decoration: none;
            text-align: center;
            padding: 0 1vw;
            font-family: interstate, sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 1.5em;
            color: #eeeeee;
            transition: 0.2s ease-in-out;
            &:hover {
                color: #1089ff;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    #nav-bar {
        height: 8vh;
        .nav-logo {
            max-height: 7vh;
        }
        ul {
            margin-right: 1vw;
            a {
                padding: 0 1vw;
                font-size: 1.2em;
            }
        }
    }
}

/* landing Page */

.fit-or-big {
    height: 100vh;
    background-image: linear-gradient(160deg, #eeeeee 50%, #1089ff 50.05%);
    h1 {
        color: #23374d;
        text-align: center;
        position: relative;
        top: 15vh;
    }
    h2 {
        color: #23374d;
        font-weight: 700;
    }
    .images-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        max-width: 80vw;
        margin: 0 auto;
        position: relative;
        top: 23vh;
        img {
            height: 40vh;
            border-radius: 20px;
            display: block;
            box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.53);
            /* border: #ffffff solid 10px; */
        }
        .img-container {
            position: relative;
            display: block;
            .fit-container, .big-container {
                transition: .2s ease-in-out;
                position: absolute;
                text-align: center;
                border-radius: 20px;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);
                background-color: rgba(32, 32, 32, 0.7);
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    opacity: 1;
                }
                a {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    position: absolute;
                }
                .big-text, .fit-text {
                    max-width: 70%;
                    font-family: interstate, sans-serif;
                    font-weight: 800;
                    font-style: normal;
                    font-size: 5em;
                    color: #eeeeee;
                }
                .fit-text {
                    color: #1089ff;
                }
            }
        }
    }
    .personalised {
        display: block;
        position: relative;
        top: 30vh;
        h2 {
            text-align: center;
            margin: 2vh 0;
            color: #eeeeee;
        }
        .home-down-arrow {
            height: 4vh;
            margin: 0 auto;
            display: block;
            transition: 0.2s ease-in-out;
            &:hover {
                transform: translate(0, 0.5vh);
            }
        }
    }
}
.introduction {
    background-image: linear-gradient(180deg, #1089ff 2%, #eeeeee 15%);
    background-color: #eeeeee;
    width: 100%;
    padding: 2vh 0;
    .summary-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 80%;
        padding-top: 10vh;
        margin: 13vh auto 5vh auto;
        h3 {
            text-align: center;
            color: #23374d;
            font-weight: 600;
            padding: 5vh 0 1vh 0;
        }
        p {
            text-align: center;
            font-size: 1.5em;
            font-weight: 300;
        }
    }
    .item-container {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        flex-wrap: wrap;
        max-width: 80%;
        margin: 0 auto;
        height: 100%;
        margin-bottom: 5vh;
        .item1, .item2, .item3 {
            min-width: 350px;
            max-width: 30%;
            background-color: #ffffff;
            border-radius: 15px;
            align-items: stretch;
            box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.53);
            margin-bottom: 4vh;
            img {
                max-width: 100%;
                border-radius: 15px 15px 0 0;
            }
            .item-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2% auto 5% auto;
                max-width: 80%;
                h4 {
                    text-align: center;
                    margin-bottom: 1vh;
                }
                p {
                    text-align: center;
                }
            }
        }
    }
}


@media only screen and (max-width: 1440px) {
    .fit-or-big {
        h1 {
            font-size: 2.5em;
            top: 10vh;
            max-width: 80%;
            margin: 0 auto;
        }
        .images-container {
            top: 12.5vh;
            .img-container {
                margin-bottom: 2vh;
                img {
                    height: 28vh;
                    width: 28vh;
                    display: block;
                }
                .fit-container, .big-container {
                    opacity: 1;
                    background-color: rgba(32, 32, 32, 0.5);
                    .fit-text, .big-text {
                        font-size: 3em;
                    }
                }
            }
        }
        .personalised {
            top: 10%;
            display: block;
            max-width: 80%;
            margin: 0 auto;
            h2 {
                font-size: 2em;
            }
            .home-down-arrow {
                height: 2vh;
            }
        }
    }
    .introduction {
        .summary-container {
            h3 {
                font-size: 2em;
            }
            p {
                font-size: 1.2em;
            }
        }
        .item-container {
            .item1, .item2, .item3 {
                img {}
                .item-text {
                    max-width: 90%;
                    h4 {
                        font-size: 1.5em;
                    }
                    p {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

/* What We Do Page */

.what-we-do {
    min-height: 100vh;
}

/* About Me Page */

.about-me {
    max-width: 80vw;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    h1 {
        display: block;
        padding-top: 15vh;
        text-align: left;
        color: #23374d;
        font-size: 4em;
        margin-bottom: 5vh;
    }
    .desc-img {
        display: flex;
        justify-content: space-between;
        float: left;
        align-items: center;
        p {
            text-align: left;
            font-size: 2em;
            font-weight: 300;
            max-width: 40vw;
            margin: 5vh 15vh 5vh 0;
        }
        a {
            color: #eeeeee;
            transition: 0.2s ease-in-out;
            background: linear-gradient(120deg, #1089ff, #85c2ff);
            padding: 0.25em 0.5em;
            border-radius: 30px;
            &:hover {
                color: #23374d;
            }
        }
        img {
            border-radius: 100%;
            position: relative;
            border: #eeeeee solid 10px;
        }
    }
}

/* Contact Page */

.contact {
    min-height: 100vh;
}

/* Footer */

footer {
    background-color: #23374d;
    height: auto;
    padding: 2vh 0 2vh 0;
    p {
    text-align: center;
    color: #eeeeee;
    padding: 0.5vh;
    font-size: 1em;
    }
    a {
        color: #1089ff;
        transition: 0.2s ease-in-out;
        &:hover {
            color: #93c9ff;
        }
    }
}
