/*
Colours:
    Background White: #eeeeee;
    Nav-Bar White: #e5e5e5;
    Mid-Blue: #1089ff;
    Dark-blue: #23374d;
    Burgundy: #5A1421;
    Dark Burgundy: #290a0f;
    Black/Grey: #131515;
*/
/* Style Reset */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* General Styles */
#page-container {
  min-height: 100vh;
  background-color: #ffffff;
}

h1 {
  font-family: interstate, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 5em;
  color: #23374d;
}

h2 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  color: #23374d;
}

h3 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  color: #23374d;
}

h4 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  color: #23374d;
}

p {
  font-family: interstate, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  color: #131515;
}

a {
  text-decoration: none;
}

/* Navigation */
#nav-bar {
  height: 8vh;
  max-height: 300px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #F2F4F3;
  z-index: 999999;
}

#nav-bar .nav-logo {
  max-height: 7vh;
  margin-left: 1vw;
}

#nav-bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2vh;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

#nav-bar ul a {
  text-decoration: none;
  text-align: center;
  padding: 0 1vw;
  font-family: interstate, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  color: #5A1421;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#nav-bar ul a:hover {
  color: #290a0f;
}

@media only screen and (max-width: 1440px) {
  #nav-bar {
    height: 8vh;
  }
  #nav-bar .nav-logo {
    max-height: 7vh;
  }
  #nav-bar ul {
    margin-right: 0.5vw;
  }
  #nav-bar ul a {
    padding: 0 1vw;
    font-size: 1.2em;
  }
}

/* landing Page */
.fit-or-big {
  height: 100vh;
  background-image: linear-gradient(160deg, #ffffff 50%, #5A1421 50.05%);
}

.fit-or-big h1 {
  color: #290a0f;
  text-align: center;
  position: relative;
  top: 15vh;
}

.fit-or-big h2 {
  color: #23374d;
  font-weight: 700;
}

.fit-or-big .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
  top: 23vh;
}

.fit-or-big .images-container img {
  height: 40vh;
  border-radius: 20px;
  display: block;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.53);
          box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.53);
  /* border: #ffffff solid 10px; */
}

.fit-or-big .images-container .img-container {
  position: relative;
  display: block;
}

.fit-or-big .images-container .img-container .fit-container, .fit-or-big .images-container .img-container .big-container {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: absolute;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(32, 32, 32, 0.7);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fit-or-big .images-container .img-container .fit-container:hover, .fit-or-big .images-container .img-container .big-container:hover {
  opacity: 1;
}

.fit-or-big .images-container .img-container .fit-container a, .fit-or-big .images-container .img-container .big-container a {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
}

.fit-or-big .images-container .img-container .fit-container .big-text, .fit-or-big .images-container .img-container .fit-container .fit-text, .fit-or-big .images-container .img-container .big-container .big-text, .fit-or-big .images-container .img-container .big-container .fit-text {
  max-width: 70%;
  font-family: interstate, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 5em;
  color: #ffffff;
}

.fit-or-big .images-container .img-container .fit-container .fit-text, .fit-or-big .images-container .img-container .big-container .fit-text {
  color: #ffffff;
}

.fit-or-big .personalised {
  display: block;
  position: relative;
  top: 30vh;
}

.fit-or-big .personalised h2 {
  text-align: center;
  margin: 2vh 0;
  color: #ffffff;
}

.fit-or-big .personalised .home-down-arrow {
  height: 4vh;
  margin: 0 auto;
  display: block;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.fit-or-big .personalised .home-down-arrow:hover {
  -webkit-transform: translate(0, 0.5vh);
          transform: translate(0, 0.5vh);
}

.introduction {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #5A1421), color-stop(15%, #ffffff));
  background-image: linear-gradient(180deg, #5A1421 2%, #ffffff 15%);
  background-color: #ffffff;
  width: 100%;
  padding: 2vh 0;
}

.introduction .summary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
  padding-top: 10vh;
  margin: 13vh auto 5vh auto;
}

.introduction .summary-container h3 {
  text-align: center;
  color: #23374d;
  font-weight: 600;
  padding: 5vh 0 1vh 0;
}

.introduction .summary-container p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

.introduction .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  margin-bottom: 5vh;
}

.introduction .item-container .item1, .introduction .item-container .item2, .introduction .item-container .item3 {
  min-width: 350px;
  max-width: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.53);
          box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.53);
  margin-bottom: 4vh;
}

.introduction .item-container .item1 img, .introduction .item-container .item2 img, .introduction .item-container .item3 img {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.introduction .item-container .item1 .item-text, .introduction .item-container .item2 .item-text, .introduction .item-container .item3 .item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% auto 5% auto;
  max-width: 80%;
}

.introduction .item-container .item1 .item-text h4, .introduction .item-container .item2 .item-text h4, .introduction .item-container .item3 .item-text h4 {
  text-align: center;
  margin-bottom: 1vh;
}

.introduction .item-container .item1 .item-text p, .introduction .item-container .item2 .item-text p, .introduction .item-container .item3 .item-text p {
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .fit-or-big h1 {
    font-size: 2.5em;
    top: 10vh;
    max-width: 80%;
    margin: 0 auto;
  }
  .fit-or-big .images-container {
    top: 12.5vh;
  }
  .fit-or-big .images-container .img-container {
    margin-bottom: 2vh;
  }
  .fit-or-big .images-container .img-container img {
    height: 28vh;
    width: 28vh;
    display: block;
  }
  .fit-or-big .images-container .img-container .fit-container, .fit-or-big .images-container .img-container .big-container {
    opacity: 1;
    background-color: rgba(32, 32, 32, 0.5);
  }
  .fit-or-big .images-container .img-container .fit-container .fit-text, .fit-or-big .images-container .img-container .fit-container .big-text, .fit-or-big .images-container .img-container .big-container .fit-text, .fit-or-big .images-container .img-container .big-container .big-text {
    font-size: 3em;
  }
  .fit-or-big .personalised {
    top: 10%;
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }
  .fit-or-big .personalised h2 {
    font-size: 2em;
  }
  .fit-or-big .personalised .home-down-arrow {
    height: 2vh;
  }
  .introduction .summary-container h3 {
    font-size: 2em;
  }
  .introduction .summary-container p {
    font-size: 1.2em;
  }
  .introduction .item-container .item1 .item-text, .introduction .item-container .item2 .item-text, .introduction .item-container .item3 .item-text {
    max-width: 90%;
  }
  .introduction .item-container .item1 .item-text h4, .introduction .item-container .item2 .item-text h4, .introduction .item-container .item3 .item-text h4 {
    font-size: 1.5em;
    color: #290a0f;
  }
  .introduction .item-container .item1 .item-text p, .introduction .item-container .item2 .item-text p, .introduction .item-container .item3 .item-text p {
    font-size: 1.2em;
  }
}

/* What We Do Page */
.what-we-do {
  min-height: 100vh;
}

/* About Me Page */
.about-me {
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  background-color: #ffffff;
}

.about-me h1 {
  display: block;
  padding-top: 15vh;
  text-align: left;
  color: #290a0f;
  font-size: 4em;
  margin-bottom: 5vh;
}

.about-me .desc-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .desc-img p {
  text-align: left;
  font-size: 2em;
  font-weight: 300;
  max-width: 40vw;
  margin: 5vh 15vh 5vh 0;
}

.about-me .desc-img a {
  color: #ffffff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: linear-gradient(120deg, #460a14, #751224);
  padding: 0.25em 0.5em;
  border-radius: 30px;
}

.about-me .desc-img a:hover {
  color: #C7CCD8;
}

.about-me .desc-img img {
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.53);
          box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.53);
  border-radius: 20px;
  position: relative;
}

/* Contact Page */
.contact {
  min-height: 100vh;
  max-width: 80vw;
  margin: 0 auto;
  background-color: #ffffff;
}

.contact .flex-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: 18vh;
}

.contact .flex-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 20%;
  min-width: 400px;
  background-color: #F2F4F3;
  padding: 1vw;
  margin: 1vw 1vw;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.53);
          box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.53);
}

.contact .flex-container .info img {
  max-width: 3.5em;
  margin-right: 1vw;
}

.contact .flex-container .info .info1 {
  display: block;
}

.contact h3 {
  padding-top: 10vh;
  margin-left: 2vw;
}

/* Footer */
footer {
  background-color: #290a0f;
  height: auto;
  padding: 2vh 0 2vh 0;
}

footer p {
  text-align: center;
  color: #ffffff;
  padding: 0.5vh;
  font-size: 1em;
}

footer a {
  color: #ffffff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

footer a:hover {
  color: #C7CCD8;
}
/*# sourceMappingURL=styles.css.map */