/*
Colours:
    Background White: #eeeeee;
    Nav-Bar White: #e5e5e5;
    Mid-Blue: #1089ff;
    Dark-blue: #23374d;
*/
/* Style Reset */
* {
  margin: 0;
  padding: 0;
}

/* General Styles */
#page-container {
  /*background-color: #eeeeee;*/
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#93c9ff), color-stop(60%, #eeeeee));
  background-image: linear-gradient(180deg, #93c9ff 0%, #eeeeee 60%);
}

h1 {
  font-family: interstate, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 5em;
}

h2 {
  font-family: interstate, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
}

p {
  font-family: interstate, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1em;
}

a {
  text-decoration: none;
}

/* Navigation */
#nav-bar {
  height: 8vh;
  max-height: 300px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #23374d;
  z-index: 999999;
}

#nav-bar .nav-logo {
  max-height: 7vh;
  margin-left: 2vh;
}

#nav-bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5vh;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

#nav-bar ul a {
  text-decoration: none;
  padding: 0 2vh;
  font-family: interstate, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  color: #eeeeee;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#nav-bar ul a:hover {
  color: #1089ff;
}

/* landing Page */
.fit-or-big {
  height: 100vh;
}

.fit-or-big h1 {
  color: #23374d;
  text-align: center;
  position: relative;
  top: 18vh;
}

.fit-or-big h2 {
  color: #23374d;
  font-weight: 700;
}

.fit-or-big .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
  top: 26vh;
}

.fit-or-big .images-container img {
  height: 40vh;
  border-radius: 100%;
  display: block;
}

.fit-or-big .images-container .img-container {
  position: relative;
  display: block;
}

.fit-or-big .images-container .img-container .fit-container, .fit-or-big .images-container .img-container .big-container {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: absolute;
  text-align: center;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(32, 32, 32, 0.7);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fit-or-big .images-container .img-container .fit-container:hover, .fit-or-big .images-container .img-container .big-container:hover {
  opacity: 1;
}

.fit-or-big .images-container .img-container .fit-container a, .fit-or-big .images-container .img-container .big-container a {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
}

.fit-or-big .images-container .img-container .fit-container .big-text, .fit-or-big .images-container .img-container .fit-container .fit-text, .fit-or-big .images-container .img-container .big-container .big-text, .fit-or-big .images-container .img-container .big-container .fit-text {
  max-width: 70%;
  font-family: interstate, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 5em;
  color: #eeeeee;
}

.fit-or-big .personalised h2 {
  text-align: center;
  position: relative;
  top: 38vh;
}

.fit-or-big .personalised .home-down-arrow {
  height: 4vh;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40.5vh;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.fit-or-big .personalised .home-down-arrow:hover {
  top: 41vh;
}

@media only screen and (max-width: 1300px) {
  .fit-or-big h1 {
    font-size: 3em;
    top: 10vh;
  }
  .fit-or-big .images-container {
    top: 12.5vh;
  }
  .fit-or-big .images-container .img-container {
    margin-bottom: 2vh;
  }
  .fit-or-big .images-container .img-container img {
    height: 30vh;
    width: 30vh;
    display: block;
  }
  .fit-or-big .images-container .img-container .fit-container, .fit-or-big .images-container .img-container .big-container {
    opacity: 1;
  }
  .fit-or-big .images-container .img-container .fit-container .fit-text, .fit-or-big .images-container .img-container .fit-container .big-text, .fit-or-big .images-container .img-container .big-container .fit-text, .fit-or-big .images-container .img-container .big-container .big-text {
    font-size: 3em;
  }
}

/* Footer */
footer {
  background-color: #23374d;
  height: 10vh;
  padding-top: 4vh;
}

footer p {
  text-align: center;
  color: #eeeeee;
  padding: 0.5vh;
}

footer a {
  color: #1089ff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

footer a:hover {
  color: #93c9ff;
}
/*# sourceMappingURL=styles.css.map */